Source: libcassandra-simple-perl
Section: perl
Priority: optional
Maintainer: Filipe Gonçalves <the.wa.syndrome@gmail.com>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libany-moose-perl,
 libclass-accessor-perl,
 libresourcepool-perl,
 libthrift-perl,
 libtie-dxhash-perl,
 perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Cassandra-Simple/

Package: libcassandra-simple-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libany-moose-perl,
 libclass-accessor-perl,
 libresourcepool-perl,
 libthrift-perl,
 libtie-dxhash-perl,
 perl
Description: unknown
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
